/* Overall Site Stylesheet 
*  Asq.Us version 1.0
*/

body {

    padding-top: 48px;

    /* Background Gradient */
    background: -moz-linear-gradient(top,  rgba(192,232,246,0) 0%, rgba(192,232,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,232,246,0)), color-stop(100%,rgba(192,232,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(192,232,246,0) 0%,rgba(192,232,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(192,232,246,0) 0%,rgba(192,232,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(192,232,246,0) 0%,rgba(192,232,246,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(192,232,246,0) 0%,rgba(192,232,246,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0e8f6', endColorstr='#c0e8f6',GradientType=0 ); /* IE6-9 */

}

#content {
    min-height: 100%;
}

ul, ol, li {
    list-style-type: none;
}


/* Team Stylesheet */
.icons.pane {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 115px;
}

#team-icons {
    margin: auto;
}

#team-icons li {
    float:left; 
    margin: 0 8px 8px 0;
    width: 60px;
    height: 60px;
}

a.person {
    position:relative;
    text-decoration: none;
}

a.person.small-bio {display: none;}
a.person:hover .small-bio {
  display: block;
  position: absolute; 
  padding: .5em;
  content: attr(title);
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: -75px;
  background: rgba(0,0,0,.8);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;    
  color: #fff;
  font-size: .86em;
}
a.person:hover .small-bio:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom: -16px;
  left:1em;
}

#asq-force-pic {
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 796px;
    height: 482px;
    background-image: url("../img/asq_force.jpg");

    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.small-bio {
    display: none;
}

.pane p,li{
    padding-top: 10px;
    font-size: 17px;
}

.pane {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container hr {
    margin: 18px 100px;
    border-top: 1px solid lightGrey;
}

.member img {
    float: left;
    -webkit-box-shadow: 2px 2px 5px 1px #010101;
    box-shadow: 2px 2px 5px 1px #010101;
}

.bio {
    margin-left: 140px;
}

.bio h3 {
    display: inline-block;
    margin-bottom: 10px;
}
.bio span {
    font-style: italic;
}

/* Home Stylesheet */

#intro-pane {
    height: 360px;
    width: 100%;
    background-color: #C0E8F6;
}
#intro {
    height: 100%;
    border: solid black 1px;
}
#main-pane {
    width: 100%;
}
#main {
    -webkit-box-shadow: 2px 2px 20px 1px #010101;
    box-shadow: 2px 2px 20px 1px #010101;
    background-color: white;
    padding-bottom: 100px;
}
#footer-pane {
    width: 100%;
    background-color: #012345;
}
#footer {
    padding-top: 50px;
    padding-left: 10px;
}
#footer h3 {
    color: #FF8700;
    font-size: 18px;
    line-height: 35px;
    font-weight: normal;
}
#footer li {
    line-height: 26px;
    font-size:  17px;
}
#footer h6 {
    padding-top: 25px;
    font-weight: normal;
}
